{% extends "base.html" %}
{% block content %}
   <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Home
                <small>Status</small>
          </h1>
        </div>
    </div>

    <table style="width:25%">
      <tr>
        <th>Component</th>
        <th>Loaded</th>
      </tr>
      <tr>
        <td>GloVe Library</td>
        <td>{{ message.glove }}</td>
      </tr>
      <tr>
        <td>Transformer Model</td>
        <td>{{ message.model }}</td>
      </tr>
      <tr>
        <td>Triple Store</td>
        <td>{{ message.ts }}</td>
      </tr>
    </table>
    <!-- <div class="row">
      <div><p>{{ message.content }}</p></div>
    </div> -->
{% endblock %}
